<!-- section one, includedin the home.html layout -->
  <section id="one">
    <div class="container">
      <header class="major">
        <h2>Songs are awesome</h2>
        <p></p>
        <p>We are a community of people who love playing, singing, and writing great songs.
        This site is a free resource for great songs with no advertisements.
        We've got a <a href="#two">growing list of songs</a> already.
        You can submit your own songs by <a href="#three">contacting us directly.</a></p>
      </header>
    </div>
  </section>
